body {
    outline-style: double;
    background-color: black;
    color: red;

}

h1 {
    text-align: center;
}

p {
    text-align: center;

    color: red;

}

#battle {

    text-align: left;
    margin-left: 500px;
    margin-top: 100px;
}

#button {
    text-align: center;
    margin-left: 680px;
}

#level {
    text-align: right;
    color: rgb(97, 27, 27);
}